#container {

    width: 1000px;
    height: 1000px;
    background-color: lightgray;

}


.scroll{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    left:50px;
    top:500px;
    position: fixed;
    transition-property:fixed;
    /*
    -webkit-animation-name:moja_animacja;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
*/
}

a{
    transition-duration:12s;
    transition-timing-function:linear;
}

.title1
{
    width: 1000px;
    height: 300px;
    background-color: red;
}

.title2
{
    width: 1000px;
    height: 300px;
    background-color: green;
}


.title3
{
    width: 1000px;
    height: 300px;
    background-color: gold;
}

.title4
{
    width: 1000px;
    height: 300px;
    background-color: aqua;
}

.title5
{
    width: 1000px;
    height: 300px;
    background-color: red;
}








/*
.scrollup
{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("../images/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}

*/