/*Zapis przedstawiony powyżej będzie mówił przeglądarce internetowej,
że ma ona wykorzystać podane reguły CSS tylko wtedy, gdy nasza strona internetowa zostanie wyświetlona
w oknie przeglądarki o wartości szerokości od 480 pikseli do 768 pikseli*/


/*Możemy również sprawić, aby kolumny naszego układu elementów HTML zawsze układały się jedna pod drugą,
gdy wartość szerokości okna przeglądarki internetowej będzie mniejsza niż 769px, wtedy przedział wartości,
w obrębie którego do naszego układu elementów HTML zostaną dodane dodatkowe reguły CSS, będzie wynosił od 0 do 768px*/



/*Od tej pory zapis @media all and (max-width:769px) będzie mówił przeglądarce internetowej,
że reguły CSS jakie są zapisane w regule @media mają być przeznaczone dla wszystkich typów urządzeń (all),
oraz których (and) wartość szerokości okna przeglądarki internetowej jest mniejsza niż 769 pikseli, stąd zapis (max-width:769px).*/

@media all and /*(min-width:480px)*/ (max-width:769px) {

    #caly_blok{
        font-size: 15px;
    }

    #lewy, #srodek, #prawy {
        float:none;
        width:auto;
        margin:15px;
    }

    #lewy p, #prawy p {
        border:1px solid gold;
    }
}

/*#############################################################################################*/


#caly_blok {
    font-size:24px;
    min-width:480px;
    max-width:1600px;
    border-left:1px solid gold;
    border-right:1px solid gold;
}

#naglowek {
    background-color:gold;
    text-align:center;
    font-size:1.6em;
    line-height:1.5em;
}

#lewy {
    float:left;
    width:25%;
    font-size:1em;
    line-height:1.5em;
}

#lewy p {
    background-color: gray;
    margin:15px 0;
    padding:15px;
}

#srodek {
    float:left;
    width:50%;
    font-size:1.2em;
    line-height:1.5em;

}

#srodek p {
    margin:15px 0;
    padding:15px;
    background-color: lightslategray;
}

#prawy {
    float:left;
    width:25%;
    font-size:1em;
    line-height:1.5em;
}

#prawy p {
    background-color: lightgray;
    margin:15px 0;
    padding:15px;
}

#stopka {
    clear:both;
    background-color:gold;
    text-align:center;
    font-size:1.4em;
    line-height:1.5em;
}