* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: #b7b7b7;
}



.container {
    max-width: 1070px;
    padding: 0 30px;
    margin: 0 auto;
}

.diamond {
    width: 11.5%;
    padding-bottom: 11.5%;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.diamond-big {
    width: 25%;
    padding-bottom: 25%;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}

#diamond1 {
    position: absolute;
    top: 25%;
    left: 10.5%;
}

.grid-section {

    overflow: hidden;
    padding-bottom: 200px;

}

.grid {
    padding-bottom: 100%;
    position: relative;
    transform: rotate(45deg);
    transform-origin: 39%;
}

.diamond {
    width: 11.5%;
    padding-bottom: 11.5%;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    animation: diamond infinite 20s linear;
}

@keyframes diamond {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.diamond-big {
    width: 25%;
    padding-bottom: 25%;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}

#diamond1 {
    position: absolute;
    top: 25%;
    left: 10.5%;
}
#diamond2 {
    position: absolute;
    top: 25%;
    left: 24%;
}
#diamond3 {
    position: absolute;
    top: 11.5%;
    left: 37.5%;
}
#diamond4 {
    position: absolute;
    top: 38.5%;
    left: 24%;
}
#diamond5 {
    position: absolute;
    top: 38.5%;
    left: 51%;
}
#diamond6 {
    position: absolute;
    top: 52%;
    left: 51%;
}
#diamond7 {
    position: absolute;
    top: 38.5%;
    left: 64.5%;
}
#diamond8 {
    position: absolute;
    top: 65.5%;
    left: 51%;
}
#diamond9 {
    position: absolute;
    top: 65.5%;
    left: 64.5%;

}

p{
    position: absolute;
    transform: rotate(-45deg);
}

.title1{
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 50%;
   margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    transform:perspective(200px) rotateY(35deg);

}
.title2{
    width: 150px;
    height: 150px;
    background-color: #101010;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;

}

.title3{
    width: 100px;
    height: 100px;
    background-color: #202020;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.title4{
    width: 50px;
    height: 50px;
    background-color: #303030;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
