
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */