@charset "utf-8";
/* CSS Document*/

body{
    background: #000;
}

body, input, textarea, select{
    font-family: 'SansationRegular';
    font-size: 14px;
    line-height: 23px;
    color: #331404;
}

.pos-center{
    margin: 0 auto;
}

/* style dla headera*/

body > header{
    background: #170901;
    height: 76px;
    border-bottom: 5px solid #f55b0c;
}

body > header .pos-center{
    width: 940px;
}

body > header h1,
body > header nav{
    float: left;
    color: #f55b0c;
}

body > header h1{
    margin-top: 27px;
    margin-right: 55px;
}

body > header h1,
body > header h1 a{
    width: 146px;
    height: 25px;
}

body > header h1 a{
   text-indent: -999em;
    background: url(../img/lovetoeat-logo.png) no-repeat;
    display: block;
}

/* mein menu */

body > header nav ul.menu > li{
    float: left;
    position: relative;
}

body > header nav ul li a{
    display: block;
    font-family: 'MuseoSlab500Regular';
    font-size: 14px;
    color: #ff803f;
    text-transform: uppercase;
}

body > header nav ul.menu > li > a{
    padding: 35px 35px 0px;
    height: 41px;
}

body > header nav ul.menu > li.current-menu-item > a,
body > header nav ul.menu > li.current-menu-parent > a{
    background: #f55b0c;
    color: #170901;
}

body > header nav li > a:hover{
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

body > header nav ul.menu > li.current-menu-item > a:hover,
body > header nav ul.menu > li.current-menu-parent > a:hover{
    -moz-opacity: 1.00;
    -khtml-opacity: 1.00;
    opacity: 1.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

body > header nav ul li .sub-menu{
    background: #170901;
    position: absolute;
    top: 76px;
    left: 0px;
    z-index: 10;
    width: 288px;
    display: none;
}

body > header nav ul li:first-child:hover .sub-menu{
    display: block;
}

body > header nav ul li .sub-menu li a{
    display: block;
    padding-left: 75px;
    padding-top: 22px;
    height: 38px;
    background-position: 12px 5px;
    background-repeat: no-repeat;
    margin: 0 28px;
    border-bottom: 1px dashed #3e1c09;
}


body > header nav .sub-menu li.lunch a{
    background-image: url('../img/submenu-icon-dinner.png');
}

body > header nav .sub-menu li.breakfast a{
    background-image: url('../img/submenu-icon-bread.png');
}

body > header nav .sub-menu li.snacks a{
    background: url('../img/submenu-icon-snacks.png') 12px 10px no-repeat;
}

body > header nav .sub-menu li.desserts a{
    background: url('../img/submenu-icon-desserts.png') 12px 8px no-repeat;
}

body > header nav .sub-menu li.drinks a{
    background-image: url('../img/submenu-icon-drinks.png');
}


body > header nav .sub-menu li.all a{
    background: #f55b0c;
    padding: 5px 0px 0px;
    height: 26px;
    color: #230e02;
    margin: 0px;
    border: 0px;
    text-align: center;
}

body > header nav .sub-menu li.all a span{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/submenu-icon-all.png) no-repeat;
    border: 0px;
    text-indent: -999em;
    position: relative;
    top: 2px;
    margin-left: 5px;    
}










