
.clear{
clear: both;
}

.right{
    float: right;
}
.left{
    float: left;
}

/*###########################*/

body{

}

.container{
    width: 100%;
    height: auto;
}

header{
    background-color: #ff9900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

}

.logo{
    background-color: #0e76a8;

    width:400px;
    height: 100px;
}

.nav{
    background-color: #4C4C4C;

    width: 800px;
    height: 100px;
}

.nav-right{
    background-color: #000000;
    display: inline-block;
    float: right;

}

ul > li > a{
    text-decoration: none;
    color: lightgray;
}

ul > li > a:hover{
    color: darkslategray;
}

ul > li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.banner-title{
    background-color: aqua;
    width: 100%;
    height: 550px;
    padding-top: 100px;
    background-image: url(img/tlo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.banner-title-right{
    color: #333333;
    width: 700px;
    position: relative;
    margin-right: 50px;
    margin-top: 160px;
}

.banner-title h4{
    text-align: center;
    text-align: justify;
    font-size: 23px;
}

.story{
    width: 100%;
    height: auto;
    background-color: black;

}
.story h1{
    font-size: 50px;
    text-align: center;
    color: darkgray;
}

.story h4{
    font-size: 23px;
    text-align: justify;
    padding: 15px;
    color: #555555;
}

.book{
    width: 100%;
    height: auto;
    background-color: gray;
}

.book-content{
    width: 1000px;
    background-color: bisque;
    margin-right: auto;
    margin-left: auto;
    /*padding-top: 10px;*/
}

.book-title-1{
    background-color: gold;
    width: 400px;
    height: 400px;
    float: left;

}

.book-title-2{
    background-color: green;
    width: 400px;
    height: 400px;
    float: right;
}

.book-title-3{
    background-color: yellow;
    width: 200px;
    height: 200px;
    float: left;
}

.book-title-4{
    background-color: red;
    width: 200px;
    height: 200px;
    float: right;
}

.book-title-5{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    float: left;
}

.book-title-6{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float: right;
}
