.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
/*##########################*/
body{
    margin: 0;
}
#banner{
    width: 100%;
    height: auto;
}

#page-header{
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.25s;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}
/*##############################    LOGO    #################################*/
.logo{
    background-image: url(../images/png/logo_header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    width: 173px;
    height:50px;
    line-height:30px;
    margin-left: 10px;
}
/*##############################    MENU    #################################*/
.menu{

    margin-top: 15px;
}
.menu li{
    display: inline;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;
    letter-spacing: 2px;
    color: #5aff00;
    font-family:'Gotham',sans-serif,arial;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
}
.banner-title{
    background-color:#000000;
    background-image: url(../images/jpg/header_bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    padding-top:200px;
    /*padding-left: 100px;*/
    width: 100%;

}

.banner-title h1{
    color: white;
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    padding-left: 100px;
}

.banner-title h2{
    font-size: 60px;
    color: #5aff00;
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    padding-left: 100px;
}

.banner-title h6{
    margin-top: 10px;
    color: #5aff00;
    font-family:'Gotham',sans-serif,arial;
    font-weight: 400;
    font-size: 18px;
    text-transform:uppercase;
    padding-left: 100px;
    cursor: pointer;
}
.banner-title h6 a{
    text-decoration: none;
    color: #5aff00;
}
/*##################    FEATURES    #############################*/
.features-wrapper{
    background-color:#000000;
    background-image: url(../images/jpg/about_me_bg_image.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 841px;
    width: 100%;
    /*padding-left: 100px;*/
}
.banner-project {
    display: none;
    margin-left: 100px;
    margin-top: 20px;
}
.project1{
    float: left;
    width: 200px;
    height: 200px;
    background-color: #F76C6C;
    border-radius: 5px;
}
.project1:hover{
    opacity: 0.9;
}
.bg-img1{
    background-image: url('../images/png/Lora.png');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
.project2{
    float: left;
    width: 200px;
    height: 200px;
    background-color: saddlebrown;
}

.features-wrapper-page{
    padding-top: 150px;
}
.features-wrapper h1{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#ffffff;
    padding-left: 100px;
}

.features-wrapper h2{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#5aff00;
    padding-left: 100px;
}

.features-wrapper p{
    font-family:'Gotham',sans-serif,arial;
    font-weight: 400;
    font-size: 24px;
    color:#ffffff;
    padding-left: 100px;
}

.separator{
    border: 2px solid #5aff00;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    margin-top: 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: 100px;
}

/*#######################   SKILLS #############################*/
.skills-wrapper{
    background-color:#000000;
    padding-top: 50px;
    width: 100%;
}

.skills-wrapper h1{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#ffffff;
    padding-left: 100px;
}

.skills-wrapper h2{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#5aff00;
    padding-left: 100px;
}

.icon-skills{
    background-color:#000000;
    /*padding-left: 100px;*/
    padding-bottom: 100px;
    width: 100%;
}

.icon{
    display: inline-block;
    cursor: pointer;
}

.icon h4{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 24px;
    color:#5aff00;
}
.icon p{
    font-family:'Gotham',sans-serif,arial;
    font-weight: 400;
    font-size: 18px;
    color:#ffffff;
    margin-top: 10px;
    width: 300px;
}

.web-development {
    background-image: url(../images/png/icon_web_development.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
}

.web-service {
    background-image: url(../images/png/icon_web_service.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
}

.web-cosInnego {
    background-image: url(../images/png/icon_web_application.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
}

.web-cosInnego1 {
    background-image: url(../images/png/icon_web_coding.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: 50px;
    margin-left: 100px;
}
.modelSkills{
    width: auto;
    height: 200px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0px 7px 56px 1px rgba(90,255,0,0.77);
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
}
.modelSkills1{
    width: auto;
    height: 200px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0px 7px 56px 1px rgba(90,255,0,0.77);
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
}
.modelSkills2{
    width: auto;
    height: 200px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0px 7px 56px 1px rgba(90,255,0,0.77);
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
}
.modelSkills p, .modelSkills1 p, .modelSkills2 p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.modelSkills3{
    width: auto;
    height: 200px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0px 7px 56px 1px rgba(90,255,0,0.77);
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
}

/*################# CONTACT  ###########################*/
.contact-logo{
    /*padding-left: 100px;*/
    /*padding-top: 100px;*/
    background-image: url(../images/png/logo_contact.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.contact-page{
    height: 500px;
    background-color: #000;
    background-image: url(../images/jpg/contact_bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /*padding-left: 100px;*/
    padding-top: 250px;
    width: 100%;
}

.contact-page h1{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#ffffff;
    padding-left: 100px;
}

.contact-page h2{
    font-family:'Gotham',sans-serif,arial;
    font-weight: bold;
    font-size: 60px;
    color:#5aff00;
    padding-left: 100px;
}

.contact-page p {
    font-family:'Gotham',sans-serif,arial;
    font-weight: 400;
    font-size: 24px;
    color:#5aff00;
    padding-left: 100px;
}
p span{
    color:white;

}

.scrollup{
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: url("../images/png/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #5aff00;
    border-radius: 10px;
}
/*----------------------------------------------------*/
/*############ Modal window###################*/

.modalDialog {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99998;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /*pointer-events: none;*/
}

.modalDialog > div {
    height:350px;
    max-width:400px;
    position: relative;
    margin: 10% auto;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background: #000;
    box-shadow: 0px 7px 56px 1px rgba(90,255,0,0.77);
    border-radius:10px;

}
.modalDialog > div h3{
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    padding-bottom:8px;
    color:white;
    letter-spacing:2px;
}
.modalDialog > div p{
    text-align:center;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:14px;
    line-height:22px;
    padding-bottom:22px;
    opacity:0.7;
}

label{
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-size:15px;
    margin-right:10px;
    opacity:0.8;
}
.antybot{
    font-size:14px;
}
input[type=submit]{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
    background-color:#5aff00;
    color: black;
    font-family:'Raleway',arial,sans-serif;
    font-weight:400;
    font-size:12px;
    letter-spacing:1px;
    padding: 10px 32px;
    text-decoration: none;
    margin-top:40px;
    margin-bottom:20px;
    cursor: pointer;
    position:absolute;
    left:140px;
}


input[type=checkbox]{
    width: 11px;
    height: 11px;
    border: 1px solid #808080;
    border-radius:50%;
    margin-right:10px;
    background:rgba(255,255,255,0.2);
}

#name-field {
    border-style:solid;
    border-bottom-width:1px;
    border-top:0;
    width:250px;
    color:white;
    border-left:0;
    border-right:0;
    border-color:white;
    background-color:#fff;
    margin-right:50px;
    margin-bottom:20px;
}
#email-field {
    border-style:solid;
    border-bottom-width:1px;
    border-top:0;
    width:250px;
    color:white;
    border-left:0;
    border-right:0;
    border-color:white;
    background-color:#fff;
    margin-bottom:20px;
}
.close {
    background-image:url('../images/png/icon-close.png');
    background-repeat:no-repeat;
    background-size:contain;
    height:35px;
    width:35px;
    line-height: 25px;
    position: absolute;
    right: 11px;
    text-align: center;
    top: 10px;
}

.close:hover { opacity:0.5; }

.modal {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    z-index: 999999;
}

.komunikat{
    width: 400px;
    height: 350px;
    background-color: darkslategray;
    border-radius:10px;
    opacity: 0.9;
    display: none;
    position: absolute;
    top:0px;
    bottom: 200px;
    left: 0px;
}
.komunikat h3 {
    margin-top:150px;
    text-align: center;

}
.komunikat2{
    width: 400px;
    height: 350px;
    background-color: darkslategray;
    border-radius:10px;
    opacity: 0.9;
    display: none;
    position: absolute;
    top:0px;
    bottom: 200px;
    left: 0px;
}
.komunikat2 h3 {
    text-align: center;
    margin-top:150px;
    line-height:25px;
}


@media only screen and (max-width: 1200px) {

    .features-wrapper{

        background-position: top right;
        background-size: 1000px ;
        height: 600px;
    }
    .features-wrapper-page{
        padding-top: 10px;
    }
    .features-wrapper h1{
        font-size: 30px;
    }
    .features-wrapper h2{
        font-size: 30px;
    }

    .features-wrapper p{
        font-size: 18px;
    }
    .separator{
        width: 50px;
    }
}
