h1{

}
h2{
  font-size: 50px;
  color: #fff;
}
h6{
    font-size: 20px;
    color: #fff;
}


.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height:1000px;
}
.nav{
    position: fixed;
    top:0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-bottom: 2px solid red;
    z-index: 99999;
}
.logo{
    width: 200px;
    height: 50px;
    background-image: url(../img/logo_header.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}
.menu{
    width: 50%;
}
ol
{
	padding: 0;
	list-style-type: none; /*typ wystylizowania listy, bez numerow, kropek itp.*/
	font-size:18px;
	line-height:200%;
	display:inline-block; /*element HTML będzie interpretowany przez przeglądarkę internetową jako element liniowy, lecz z zachowaniem pewnych cech elementu blokowego. */
    margin-left: 100px;
	
}

ol a
{
	color:#5aff00;
	text-decoration: none;
	display:bolck; /*zachowanie linka jako element blokowy i mozna przypisac mu wysokosc i szerokosc*/
	
}

ol > li /*ol jest rodzicem li dziecka*/
{
	float:left;
	width:150px;
    text-align: center;
    text-transform: uppercase;
	
}

ol > li:hover > a /*zmiana koloru czcionki po najechaniu*/
{
	color:#39dd00;
}

.about{
    width: 100%;
    height: 700px;
    background-image: url("../img/about_me_bg_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    
}
.about-content{
    
/*    width: 30%;*/
    max-width: 400px;
    margin-left: 100px;
    margin-top: 50px;

}

.skills-container{
    width: 100%;
/*    height: 400px;*/
    background-image: url(../img/header_bg_image.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}


.skills-title{
    width: 30%;
    height: auto;
    background-color: red;
    position: relative;
    left: 67px;
    top:50px;
    word-wrap:break-word;
}
.box-container{
    width: 100%;
    height: auto;
    margin-top: 100px;
    text-align: center;

}
.box1{
    width: 300px;
    height: 300px;
    background-color: pink;
    display: inline-block;
    background-image: url(../img/icon_web_development.png);
    background-repeat: no-repeat;
    background-position: center top 50px;
}

.box2{
    width: 300px;
    height: 300px;
    background-color: pink;
    display: inline-block;
}
.box3{
    width: 300px;
    height: 300px;
    background-color: pink;
    display: inline-block;
}
.box4{
    width: 300px;
    height: 300px;
    background-color: pink;
    display: inline-block;
}











